@import url("variables.css");

.container {
  min-height: 100vh;
  min-width: 375px;
  max-width: 800px;

  margin: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color_main-bg);
  min-height: 100vh;
}


.titleWrapper {
  width: 100%;
  background-color: var(--color_header_bg);
  display: flex;
  justify-content: center;
}

.titleBG {
  max-width: 375px;
  min-width: 375px;
  height: 120px;
  max-height: 120px;
  background: url(/header_2/header.png);

  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 23px;
  margin-bottom: 0;

  color: var(--color_snowhite);
  font-family: var(--font_header_font-family);
  font-size: var(--font_header_font-size-50);
  font-weight: var(--font_header_font-weight);
}

.titleLeft {
  margin-left: 11px;
}

.titleRight {
  margin-right: 20px;
}

.title {
  text-align: center;
}

