@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-spinner {
  border-radius: 50%;
  border: 3px solid var(--color_secondary, #e3e3e3);
  border-top: 3px solid var(--color_highlight, #007bff);
  animation: spin 1s linear infinite;
  display: inline-block;
}

.app-spinner-normal {
  width: 40px;
  height: 40px;
}

.app-spinner-small {
  width: 20px;
  height: 20px;
  border-width: 2px;
}
